<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yiding.saas.ydsaas.dao.YdOrgPurchaseRegionMapper">

    <resultMap type="com.yiding.saas.ydsaas.model.YdOrgPurchaseRegion" id="YdOrgPurchaseRegionMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="orgId" column="org_id" jdbcType="INTEGER"/>
        <result property="villageName" column="village_name" jdbcType="VARCHAR"/>
        <result property="groupName" column="group_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="YdOrgPurchaseRegionMap">
        select
          id, org_id, village_name, group_name, create_time, update_time
        from yd_tobacco_dev.yd_org_purchase_region
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="YdOrgPurchaseRegionMap">
        select
          id, org_id, village_name, group_name, create_time, update_time
        from yd_tobacco_dev.yd_org_purchase_region
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="YdOrgPurchaseRegionMap">
        select
        id, org_id, village_name, group_name, create_time, update_time
        from yd_tobacco_dev.yd_org_purchase_region
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="orgId != null">
                and org_id = #{orgId}
            </if>
            <if test="villageName != null and villageName != ''">
                and village_name = #{villageName}
            </if>
            <if test="groupName != null and groupName != ''">
                and group_name = #{groupName}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into yd_tobacco_dev.yd_org_purchase_region(org_id, village_name, group_name, create_time, update_time)
        values (#{orgId}, #{villageName}, #{groupName}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update yd_tobacco_dev.yd_org_purchase_region
        <set>
            <if test="orgId != null">
                org_id = #{orgId},
            </if>
            <if test="villageName != null and villageName != ''">
                village_name = #{villageName},
            </if>
            <if test="groupName != null and groupName != ''">
                group_name = #{groupName},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from yd_tobacco_dev.yd_org_purchase_region where id = #{id}
    </delete>


    <delete id="deleteByOrgId">
        delete from  yd_org_purchase_region where org_id=#{orgId}
    </delete>

    <insert id="batchInsert">
        INSERT INTO `yd_org_purchase_region` (`org_id`, `village_name`, `group_name`, `create_time`, `update_time`) VALUES
        <foreach collection="ydOrgPurchaseRegionList" item="item" index="index"
                 separator=",">
            (#{item.orgId},#{item.villageName},#{item.groupName},NOW(), NOW())
        </foreach>
    </insert>

</mapper>